body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'ZenKakuGothicAntique';
	src: url("./fonts/ZenKakuGothicAntique.ttf");
	font-weight: bold
}

@font-face {
	font-family: 'Inter';
	src: url("./fonts/Inter.ttf");
	font-weight: bold
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
